# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
mainenv/
venv/

# Logs
logs/
*.log

# Airflow database
airflow.db

# OS
.DS_Store

airflow-scheduler.pid 
airflow-scheduler.out 
airflow-scheduler.log 
airflow-scheduler.err 
airflow-api_server.pid 
airflow-api_server.out 
airflow-api_server.err

simple_auth_manager_passwords.json.generated
